.bg-primary {
    background-color: #F8F9FD !important;
}

.px-6 {
    padding-inline: 10%;
}

.px-0 {
    padding-inline: 0px;
}



.mb-0 {
    margin-bottom: 0px;
}

td {
    height: 50px;
    vertical-align: middle;
}

th{
    vertical-align: middle;
}